name: PR Comment Workflow Triggers

on:
  pull_request:

jobs:
  artifacting:
    runs-on: ubuntu-latest

    steps:
      - name: test mirrors
        run: |
          MIRRORS=( "http://archive.ubuntu.com" "http://us-east-1.ec2.archive.ubuntu.com" )
          for m in "${MIRRORS[@]}"; do
            echo $m
            for i in {1..10}; do
              curl --max-time 5 --silent --output /dev/null --write-out %{time_total}\\n $m
            done
          done
